@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}
:root {
  --color-bg-dark: #111111;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #9ca3af;
  --color-gray-light: #f3f4f6;
  --color-emerald: #059669;
}